#root {
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to right top, #e6de87, #efe29b, #f6e7af, #fbecc3, #fef2d7, #fef2d7, #fef2d7, #fef2d7, #fbecc3, #f6e7af, #efe29b, #e6de87);
}